{% extends 'paginas/base.html' %}

{% block titulo %} index Mobonet {% endblock titulo %}

{% block contenido%}
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>venta_sk</th>
                                    <th>venta_sk_n</th>
                                    <th>priceListId</th>
                                    <th>sucursal</th>
                                    <th>caja</th>
                                    <th>almacen</th>
                                    <th>hora24h</th>
                                    <th>ffecha</th>
                                    <th>horastr</th>
                                    <th>codeSucursal</th>
                                    <th>fecha_process</th>
                                    <th>sellerID</th>
                                    <th>SKU</th>
                                    <th>priceWoVAT</th>
                                    <th>IVA</th>
                                    <th>total_disc</th>
                                    <th>precio_brutoSD</th>
                                    <th>subtotal</th>
                                    <th>total</th>
                                    <th>fp_amount</th>
                                    <th>change</th>
                                    <th>fp_code</th>
                                    <th>fp_codeName</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in result %}
                                    <tr>
                                        <td>{{ item.venta_sk }}</td>
                                        <td>{{ item.venta_sk_n }}</td>
                                        <td>{{ item.priceListId }}</td>
                                        <td>{{ item.sucursal }}</td>
                                        <td>{{ item.caja }}</td>
                                        <td>{{ item.almacen }}</td>
                                        <td>{{ item.hora24h }}</td> 
                                        <td>{{ item.ffecha }}</td>
                                        <td>{{ item.horastr }}</td>
                                        <td>{{ item.codeSucursal }}</td>
                                        <td>{{ item.fecha_process }}</td>
                                        <td>{{ item.items_.sellerID }}</td>
                                        <td>{{ item.items_.SKU }}</td>
                                        <td>{{ item.items_.priceWoVAT }}</td>
                                        <td>{{ item.items_.IVA }}</td>
                                        <td>{{ item.items_.total_disc }}</td>
                                        <td>{{ item.items_.precio_brutoSD }}</td> 
                                        <td>{{ item.subtotal }}</td>
                                        <td>{{ item.total }}</td>
                                        <td>{{ item.formas_pago.fp_amount }}</td>
                                        <td>{{ item.formas_pago.change }}</td>
                                        <td>{{ item.formas_pago.fp_code }}</td>
                                        <td>{{ item.formas_pago.fp_codeName }}</td>
                                        {% comment %} <td>{{ item.datos_pago.0.barcode }}</td> {% endcomment %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->


{% endblock  %} 

