<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Consolidación</title>
     <!-- Hoja de estilos sebastian -->
     <link rel="stylesheet" href="{% static 'admin/css/home.css' %}">
  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- DataTables CSS -->
    <!-- <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />-->

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Otros CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />

    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- datattabe libreria js -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.jqueryui.min.css"/>
  <body>
    <header>
      <section class="header-icons-container">
        <!-- Logo -->
        <div class="nav-logo-container">
          <img src="{% static 'admin/images/mobollogo.png' %}" alt="logo de empresa" />
        </div>
    
        <!-- Enlaces adicionales -->
        <div class="nav-links">
          <a href="{% url 'extracpanda:extracto' %}" class="nav-link"><b>Extractos</b></a>
          <a href="{% url 'MAIN:Detalles' %}" class="nav-link"><b>Consolidación</b></a>
          <a href="{% url 'MAIN:dashboard' %}" class="nav-link"><b>Dashboard</b></a>
        </div>
      </section>
    <header/>

      {% block contenido %}
        <!-- Aquí va el contenido específico de cada página -->
      {% endblock %}
   

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables JS -->
    <!-- <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script> -->

    <!-- Otros JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>

    <!-- Archivos locales (Django) -->
    <script src="{% static 'admin/js/main.js' %}"></script>
    <!-- <script src="{% static 'admin/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/dataTables.buttons.min.js' %}"></script>-->
    <script src="{% static 'admin/js/lib/data-table/buttonsbootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <!-- <script src="{% static 'admin/js/init/datatables-init.js' %}"></script> -->
    <script src="{% static 'admin/js/Alert.js' %}"></script>
    <!--Datat table jquery-->
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.jqueryui.min.js"></script> 
  </body>
</html>
