{% extends 'extracpanda/base2.html' %} {% load static %} {% block contenido %}
<!DOCTYPE html>
<html lang="esp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccionar Columnas</title>

    <!-- DataTables CSS -->

    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="{% static 'admin/js/Alert.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link
      href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />
    <!-- SweetAlert2 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container table-responsive">
    <h2>"Iniciho"</h2>
    <form method="post" id="formTableInicio">
      {% csrf_token %}
      <div class="table-responsive">
        <table id="tableInicio" class="table table-hover my-datatable">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">Banco</th>
              <th scope="col" class="text-nowrap">Fecha Operacion</th>
              <th scope="col" class="text-nowrap">Tipo de Transacción</th>
              <th scope="col" class="text-nowrap">Referencia Ampliada</th>
              <th scope="col" class="text-nowrap">No. Campo de Llave</th>
              <th scope="col" class="text-nowrap">Abono</th>
              <th scope="col" class="text-nowrap">Cargo</th>
            </tr>
          </thead>
          <tbody>
            <tr id="rowInicio">
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
              <td class="text-nowrap"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <button class="btn btn-primary" onclick="transferSelectedColumns()">Transferir Columnas Seleccionadas</button> -->
      <button class="btn btn-primary" onclick="transferSelectedColumns(event)">
        Transferir Columnas Seleccionadas
      </button>
      <!-- <button class="btn btn-primary" onclick="manualOrderInput()">Establecer Orden Manual</button> -->
      <button
        id="enviarInfoBtn"
        class="btn btn-primary"
        onclick="enviarInfo(event)"
      >
        Enviar Info
      </button>
      <h2>Tabla "Excel"</h2>
      <div class="table-responsive">
        <table id="tableExcel" class="table table-dark my-datatable">
          <thead>
            <tr>
              {% for column in columns %}
              <th
                scope="col"
                class="button-header"
                onclick="selectColumn(this)"
              >
                {{ column }}
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              {% for column, value in row.items %}
              <td>{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS -->

    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      <script>
        $(document).ready(function () {
          $("#dataTable").DataTable();
        });
    </script>
    <script>
      const selectedColumns = [];
      function selectColumn(column) {
        column.classList.toggle("selected");
        const columnName = column.innerText;

        // Verificar si la columna ya está seleccionada
        const index = selectedColumns.indexOf(columnName);
        if (index === -1) {
          // Si no está seleccionada, agregarla a la lista
          selectedColumns.push(columnName);
        } else {
          // Si está seleccionada, quitarla de la lista y limpiar el nombre en la fila de "Inicio"
          selectedColumns.splice(index, 1);
        }

        // Obtener la fila de "Inicio"
        const rowInicio = document.getElementById("rowInicio");

        // Limpiar todas las celdas en la fila de "Inicio"
        Array.from(rowInicio.cells).forEach((cell, index) => {
          if (selectedColumns[index]) {
            cell.innerText = selectedColumns[index];
          } else {
            cell.innerText = ""; // Si no hay valor para la columna, dejar en blanco
          }
        });

        console.log("Columnas seleccionadas:", selectedColumns);
      }

      function transferSelectedColumns(event) {
        event.preventDefault(); // Evitar la acción predeterminada del botón

        const tableExcel = document.getElementById("tableExcel");
        const droppedRow = document.getElementById("rowInicio");
        const cells = droppedRow.cells;

        const selectedIndexes = [];
        selectedColumns.forEach((columnName) => {
          const index = Array.from(tableExcel.rows[0].cells).findIndex(
            (cell) => cell.innerText === columnName
          );
          selectedIndexes.push(index);
        });

        // copia los valores de las columnas seleccionadas
        selectedIndexes.forEach((index, targetIndex) => {
          const sourceCells = Array.from(tableExcel.rows)
            .slice(1)
            .map((row) => row.cells[index]);
          const targetCell = cells[targetIndex];
          targetCell.innerText = sourceCells
            .map((cell) => cell.innerText)
            .join("\n");
        });
      }

      // Definición de la función getCookie
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(";").shift();

        const csrfTokenElement = document.querySelector(
          "[name=csrfmiddlewaretoken]"
        );
        return csrfTokenElement ? csrfTokenElement.value : null;
      }

      // Definición de la función enviarInfo
      function enviarInfo(event) {
        event.preventDefault();
        const rowInicio = document.getElementById("rowInicio");

        if (!rowInicio) {
          console.error("No se encontró la fila de inicio.");
          return;
        }

        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();

          // Intenta buscar el token en el contenido del documento
          const csrfTokenElement = document.querySelector(
            "[name=csrfmiddlewaretoken]"
          );
          return csrfTokenElement ? csrfTokenElement.value : null;
        }

        const csrftoken = getCookie("csrftoken");

        // Aquí se realiza la asignación de data_dict
        const dataToSend = {
          banco: [
            {
              Banco: rowInicio.cells[0].innerText.trim(),
              "Fecha Operacion": rowInicio.cells[1].innerText.trim(),
              "Tipo de Transacción": rowInicio.cells[2].innerText.trim(),
              "Referencia Ampliada": rowInicio.cells[3].innerText.trim(),
              "No. Campo de Llave": rowInicio.cells[4].innerText.trim(),
              Abono: rowInicio.cells[5].innerText.trim(),
              Cargo: rowInicio.cells[6].innerText.trim(),
            },
          ],
        };

        const data_dict = JSON.stringify(dataToSend);
        console.log("Datos a enviar:", data_dict);

        fetch('{% url "extracpanda:enviar_route" %}', {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: data_dict,
        })
          .then((response) => response.json())
          .then((responseData) => {
            console.log("Respuesta del servidor:", responseData);

            if (responseData.status === "error") {
              Swal.fire({
                title: "Error",
                text: `Hubo un problema al enviar la información a la base de datos: ${responseData.message}`,
                icon: "error",
                confirmButtonText: "OK",
                willClose: () => {
                  window.location.href = '{% url "extracpanda:extracto" %}';
                },
              });
              console.error(
                "Error al enviar la solicitud:",
                responseData.message
              );
            } else {
              Swal.fire({
                title: "Éxito",
                text: "La información se ha enviado a la base de datos",
                icon: "success",
                confirmButtonText: "OK",
                willClose: () => {
                  window.location.href = '{% url "extracpanda:extracto" %}';
                },
              });
              console.log("Datos enviados exitosamente a la base de datos");
            }
          })
          .catch((error) => {
            Swal.fire({
              title: "Error",
              text: "Hubo un problema al enviar la información a la base de datos",
              icon: "error",
              confirmButtonText: "OK",
              willClose: () => {
                window.location.href = '{% url "extracpanda:extracto" %}';
              },
            });
            console.error("Error al enviar la solicitud", error);
          });

        return false;
      }

      // Evento que escucha cuando el documento está completamente cargado
      document.addEventListener("DOMContentLoaded", function () {
        const botonEnviar = document.getElementById("tuIdDelBoton");
        if (botonEnviar) {
          botonEnviar.addEventListener("click", enviarInfo);
        }
      });
    </script>
  </body>
  {% endblock %}
</html>
