{% extends 'extracpanda/base2.html' %} {% load static %} {% block contenido%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacciones</title>
   

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
   
    <div class="container-sm  mt-4 bg-white">
      <div class="row justify-content-center">
        <div class="col-md-7">
      <select
      id="tabla-select"
      class="modern-select form-select custom-select"
      aria-label="Default select example" >

      <option value="" selected>Mostrar</option>
      <option value="Tarjetas">Tarjetas</option>
      <option value="Efectivo">Efectivo</option>
    </select>
  </div>
</div>
</div>

    <div class="container-sm  mt-4 bg-white">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="card mt-5 " style="width: 100%;">
     <img class="extractosCss" src="{% static 'admin\images\consolidaciones.jpg' %}" alt="extracto"/>
     <div class="card-body text-center">
        <h5 class="card-title text-center text-dark mt-"> Consolidación</h5>
        <div class="card-body">
          <div class="col-12 mt-2 text-center">
            <label for="FechaInicio" class="col-form-label">Fecha Inicio:</label>
            <input name="Vinicio" id="fecha_inicio" class="form-control" type="date" placeholder="Fecha inicio"/>
          </div>
          <div class="col-12 mt-2 text-center">
            <label for="FechaFin" class="col-form-label">Fecha Fin:</label>
            <input name="Vfin" id="fecha_fin" class="form-control" type="date" placeholder="Fecha fin" />
          </div>
          <div class="col-sm-2">
            <label for="no_sucursal" class="visually-hidden">sucursal</label>
            <input type="text" class="form-control" id="no_sucursal" placeholder="No sucursal">
        </div>
        <div class="col-sm-3">
          <button type="button" id="filtrar" class="btn btn-outline-warning mt-2">Filtrar</button>
      </div>
      </div>
    </div>
    </div>
    </div>
    </div>
      <!-- tabla tarjetas -->
      <div id="tabla-tarjetas" class="container mt-5">
        <h1 class="mb-4">Transacciones</h1>
        <table id="main-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Numero de sucursal</th>
              <th>Sucursal</th>
              <th>Total Extracto</th>
              <th>Consolidado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>


    <!-- modal -->
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">Detalle de Ventas y Extractos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label for="fecha_venta">Fecha venta:</label>
                                <input type="date" id="fecha_venta" class="form-control">
                            </div>
                            <table id="tabla-izquierda" class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAllIzquierda"></th>
                                        <th>Folio Venta</th>
                                        <th>Sucursal</th>
                                        <th>Monto Pagado</th>
                                        <th>Forma de Pago</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí van los datos de la tabla izquierda -->
                                </tbody>
                            </table>
                            <p>Total Venta: <span id="total-ventas">$0.00</span></p>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="fecha_extrac">Fecha extracto</label>
                                <input type="date" id="fecha_extrac" class="form-control">
                            </div>
                            <table id="tabla-derecha" class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAllDerecha"></th>
                                        <th>Número Cuenta</th>
                                        <th>Sucursal</th>
                                        <th>Importe</th>
                                        <th>Fecha Operación</th>
                                        <th>Consolidado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí van los datos de la tabla derecha -->
                                </tbody>
                            </table>
                            <p>Total Extracto: <span id="total-detalle">$0.00</span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#main-table').DataTable({
                "searching": false,
                ajax: {
                    url: '{% url "MAIN:diccionario2" %}',
                    dataSrc: 'total_abonos_por_sucursal',
                    data: function(d) {
                        d.fecha_inicio = $('#fecha_inicio').val();
                        d.fecha_fin = $('#fecha_fin').val();
                        d.no_sucursal = $('#no_sucursal').val();
                    }
                },
                columns: [
                    { data: 'no_sucursal' },
                    { data: 'suc' },
                    { 
                        data: 'total_abonos',
                        render: function(data) {
                            return '$' + parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        }
                    },
                    {
                        data: null,
                        className: 'dt-center',
                        defaultContent: '<button class="btn btn-primary toggle-data">Detalle</button>'
                    }
                ]
            });
        
            $('#filtrar').click(function() {
                var fechaInicio = new Date($('#fecha_inicio').val());
                var fechaFin = new Date($('#fecha_fin').val());
        
                if (fechaInicio > fechaFin) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error en las fechas',
                        text: 'La fecha de inicio no puede ser mayor que la fecha de fin.'
                    });
                    return;
                }
        
                table.ajax.reload();
            });
        
            $('#main-table tbody').on('click', 'button.toggle-data', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
        
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        
            $('#filtrar').on('click', function() {
                table.ajax.reload();
            });
        
            function getBankName(nuCuenta) {
                if (nuCuenta === '110543411' || nuCuenta === '184644166') {
                    return 'BBVA';
                } else if (nuCuenta === '110579440') {
                    return 'AMEX';
                } else if (nuCuenta === '4045893245' || nuCuenta === '4067964031') {
                    return 'HSBC';
                }
                return 'Desconocido';
            }
        
            function format(sucursal) {
                let dataTableHtml = `
                    <table class="table table-bordered nested-table">
                        <thead class="thead-light">
                            <tr>
                                <th>Fecha Operacion</th>
                                <th>Numero de cuenta</th>
                                <th>Abono</th>
                                <th>Banco</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                `;
                sucursal.data.forEach(data => {
                    let bankName = getBankName(data.NuCuenta);
                    dataTableHtml += `
                        <tr>
                            <td>${data.Fecha_Op}</td>
                            <td>${data.NuCuenta}</td>
                            <td>$${parseFloat(data.Abono).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                            <td>${bankName}</td>
                            <td><button class="btn btn-primary" onclick="openModal('${data.no_sucursal}', '${data.Fecha_Op}')">Ver Detalles</button></td>
                        </tr>
                    `;
                });
                dataTableHtml += `</tbody></table>`;
        
                let ventasTableHtml = `
                    <table class="table table-bordered nested-table">
                        <thead class="thead-light">
                            <tr>
                                <th>Monto</th>
                                <th>Forma de pago</th>
                                <th>Fecha</th>
                                <th>Origen</th>
                            </tr>
                        </thead>
                        <tbody>
                `;
                sucursal.ventas.forEach(venta => {
                    ventasTableHtml += `
                        <tr>
                            <td>$${parseFloat(venta.monto_pagado).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                            <td>${venta.forma_pago_id}</td>
                            <td>${venta.fecha_c}</td>
                            <td>${venta.Origen}</td>
                        </tr>
                    `;
                });
                ventasTableHtml += `</tbody></table>`;
        
                return dataTableHtml + ventasTableHtml;
            }
        
            $(document).ready(function() {
                let noSucursalGlobal = null;
                console.log("Carga inicial");
                window.openModal = function(noSucursal, fechaOp) {
                    noSucursalGlobal = noSucursal;
                    var fechaInicio = $('#fecha_inicio').val();
                    var fechaFin = $('#fecha_fin').val();
                    
                    console.log('Datos para el modal:', noSucursal, fechaInicio, fechaFin);
            
                    $.ajax({
                        url: '{% url "MAIN:VD" %}',
                        method: 'GET',
                        data: {
                            no_sucursal: noSucursal,
                            fecha_inicio: fechaInicio,
                            fecha_fin: fechaFin
                        },
                        success: function(response) {
                            console.log('Respuesta del servidor:', response);
            
                            if (!response.data_ventas || !response.data_detalle) {
                                console.error('Datos incompletos en la respuesta:', response);
                                return;
                            }
            
                            let leftTableHtml = '';
                            response.data_ventas.forEach(venta => {
                                leftTableHtml += `
                                    <tr>
                                        <td><input type="checkbox" class="venta-checkbox" data-monto="${venta.monto_pagado}"></td>
                                        <td>${venta.folio_venta}</td>
                                        <td>${venta.sucursal}</td>
                                        <td>$${parseFloat(venta.monto_pagado).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                                        <td>${venta.forma_pago_id}</td>
                                        <td>${venta.fecha_c}</td>
                                    </tr>
                                `;
                            });
                            $('#tabla-izquierda tbody').html(leftTableHtml);
            
                            let rightTableHtml = '';
                            response.data_detalle.forEach(detalle => {
                                let cbIcon = (detalle.CB === 1) 
                                    ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>'
                                    : '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
            
                                console.log('CB Icon:', cbIcon);
            
                                rightTableHtml += `
                                    <tr>
                                        <td><input type="checkbox" class="detalle-checkbox" data-monto="${detalle.Abono}"></td>
                                        <td>${detalle.NuCuenta}</td>
                                        <td>${detalle.no_sucursal}</td>
                                        <td>$${parseFloat(detalle.Abono).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                                        <td>${detalle.Fecha_Op}</td>
                                        <td>${cbIcon}</td>
                                    </tr>
                                `;
                            });
                            $('#tabla-derecha tbody').html(rightTableHtml);
                            $('#editarModal').modal('show');
                        },
                        error: function(error) {
                            console.error('Error en la solicitud AJAX:', error);
                        }
                    });
                }
        
                $('#fecha_venta').on('change', function(){
                    let fecha_venta = $(this).val();
                    if (fecha_venta && noSucursalGlobal) {
                        if (validateDates(fecha_venta, $('#fecha_extrac').val())) {
                            fetchVentas(noSucursalGlobal, fecha_venta);
                        }
                    }
                });
                
                $('#fecha_extrac').on('change', function () {
                    let fecha_extrac = $(this).val();
                    if (fecha_extrac && noSucursalGlobal) {
                        if (validateDates($('#fecha_venta').val(), fecha_extrac)) {
                            fetchExtractos(noSucursalGlobal, fecha_extrac);
                            console.log("Cambio manual");
                        }
                    }
                });
                
                function validateDates(fecha_venta, fecha_extrac) {
                    if (fecha_venta && fecha_extrac) {
                        let dateVenta = new Date(fecha_venta);
                        let dateExtrac = new Date(fecha_extrac);
                
                        if (dateExtrac < dateVenta) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error en las fechas',
                                text: 'La fecha del extracto no puede ser menor a la de la venta'
                            });
                            return false;
                        }
                    }
                    return true;
                }
                
                function fetchVentas(no_sucursal, fecha_venta) {
                    $.ajax({
                        url: '{% url "MAIN:modal_detalle" %}',
                        data: {
                            no_sucursal: no_sucursal,
                            fecha_venta: fecha_venta
                        },
                        success: function(response) {
                            let ventas = response.data_ventas;
                            let tbody = $('#tabla-izquierda tbody');
                            tbody.empty(); // Vaciar contenido anterior
                            ventas.forEach(venta => {
                                let row = `
                                    <tr>
                                        <td><input type="checkbox" class="venta-checkbox" data-monto="${venta.monto_pagado}"></td>
                                        <td>${venta.folio_venta}</td>
                                        <td>${venta.sucursal}</td>
                                        <td>$${parseFloat(venta.monto_pagado).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                                        <td>${venta.forma_pago_id}</td>
                                        <td>${venta.fecha_c}</td>
                                    </tr>
                                `;
                                tbody.append(row);
                            });
                            updateTotalIzquierda();
                        },
                        error: function(error) {
                            console.error('Error en la solicitud AJAX:', error);
                        }
                    });
                }
        
                function fetchExtractos(no_sucursal, fecha_extrac) {
                    console.log("Carga manual");
                    $.ajax({
                        url: '{% url "MAIN:modal_detalle" %}',
                        data: {
                            no_sucursal: no_sucursal,
                            fecha_extrac: fecha_extrac
                        },
                        success: function(response) {
                            console.log('Respuesta del servidor:', response); 
                            if (response.data_detalle) {
                                console.log('Datos del detalle:', response.data_detalle); 
                                let extractos = response.data_detalle;
                                let tbody = $('#tabla-derecha tbody');
                                tbody.empty(); 
                                extractos.forEach(extracto => {
                                    console.log('Extracto individual:', extracto); 
                                    let abono = extracto.Abono;
                                    console.log('Valor de Abono:', abono); 
                                    if (abono !== undefined) { 
                                        let row = `
                                            <tr>
                                                <td><input type="checkbox" class="detalle-checkbox" data-monto="${abono}"></td>
                                                <td>${extracto.NuCuenta}</td>
                                                <td>${extracto.no_sucursal}</td>
                                                <td>$${parseFloat(abono).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                                                <td>${extracto.Fecha_Op}</td>
                                                <td>${extracto.CB}</td>
                                            </tr>
                                        `;
                                        tbody.append(row);
                                    } else {
                                        console.error('Abono es undefined para este extracto:', extracto);
                                    }
                                });
                                updateTotalDerecha();
                            } else {
                                console.error('El campo data_detalle no está presente en la respuesta');
                            }
                        },
                        error: function(error) {
                            console.error('Error en la solicitud AJAX:', error);
                        }
                    });
                }
                
                                 
                function updateTotalIzquierda() {
                    let total = 0;
                    $('.venta-checkbox:checked').each(function() {
                        let monto = parseFloat($(this).data('monto'));
                        if (!isNaN(monto)) {
                            total += monto;
                        }
                    });
                    $('#total-ventas').text('$' + total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                }
                
                function updateTotalDerecha() {
                    let total = 0;
                    $('.detalle-checkbox:checked').each(function() {
                        let montoData = $(this).data('monto'); // Usar data-monto en lugar de data-abono
                        if (typeof montoData !== 'undefined' && montoData !== null) {
                            let monto = parseFloat(montoData);
                            if (!isNaN(monto)) {
                                total += monto;
                            } else {
                                console.error('El valor de monto no es un número válido:', montoData);
                            }
                        } else {
                            console.error('data-monto no está definido para este elemento:', this);
                        }
                    });
                    $('#total-detalle').text('$' + total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                }
                
                
                
                $('#checkAllIzquierda').on('change', function() {
                    $('.venta-checkbox').prop('checked', this.checked);
                    updateTotalIzquierda();
                });
                
                $('#checkAllDerecha').on('change', function() {
                    $('.detalle-checkbox').prop('checked', this.checked);
                    updateTotalDerecha();
                });
                
                $(document).on('change', '.venta-checkbox', function() {
                    updateTotalIzquierda();
                });
                
                $(document).on('change', '.detalle-checkbox', function() {
                    updateTotalDerecha();
                });
                
                $('#enviar').on('click', function() {
                    Swal.fire({
                        icon: 'success',
                        title: 'Actualización lista',
                        text: 'La actualización ha sido realizada con éxito.',
                        confirmButtonText: 'Ok'
                    });
                });
            });
        });
        
    </script>
</body>
</html>
